<div class="container">
  <h2>Пошук в Google Maps</h2>
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" (mapClick)="mapClicked($event)">
    <agm-marker [latitude]="latitude" [longitude]="longitude"
    *ngIf="lockationChosen"
    ></agm-marker>
    <agm-info-window [disableAutoPan]="true" #infoWindow>
      <strong>InfoWindow content</strong>
    </agm-info-window>
  
  </agm-map>
</div>
